<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "learning.mappers.Student2Mapper">
    <resultMap id = "result" type = "Student2">
        <result property = "id" column = "ID"/>
        <result property = "name" column = "NAME"/>
    </resultMap>
    <insert id="insertStudent" parameterType="Student2">
        INSERT INTO STUDENT2 (name ) values (#{name});
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id() as id
        </selectKey>
    </insert>

</mapper>